
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(254, 102, 125), rgb(255, 163, 117));
}

form{
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    
}
