
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: olive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background: transparent;

}

.card{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

.card .btn{
    margin: 10px;
    padding: 10px;
    background-color: rgb(6, 136, 103);
    height: 40px;
    border-radius: 8px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
}

.btn a{
    color: #fff;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
}

.btn:hover{
    transform: scale(1.06);
}

