
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(rgb(254, 102, 125), rgb(255, 163, 117));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background: transparent;

}

.card{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 50px;
}

.card .btn{
    margin: 10px;
    padding: 20px;
    background-color: #f8c291;
    height: 40px;
    border-radius: 8px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
}

.btn a{
    color: #192a56;
    font-size: 18px;
    font-family: 'Koulen', cursive;
    font-style: normal;
}

.btn:hover{
    transform: scale(1.06);
}

